{% extends "layout.html" %}

{% block encabezado %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">

      <div class="navbar-start">
        <div class="card-content">
            <p class="title">Catálogo de Libros</p>
        </div>
      </div>
  
      <div class="navbar-end">
        <a href="/menu"class="navbar-item">
            Inicio
          </a>
          <a href="/mis_favoritos"class="navbar-item">
            Mis Favoritos
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Catálogos
            </a>
            <div class="navbar-dropdown">
              <a href="/catalogo_libro"class="navbar-item">
                Libros
              </a>
              <a href="/catalogo_autor" class="navbar-item">
                Autores
              </a>
              <a href="/catalogo_editorial" class="navbar-item">
                Editoriales
              </a>
              <a href="/catalogo_genero" class="navbar-item">
                Géneros
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Registrar
            </a>
            <div class="navbar-dropdown">
              <a href="/formulario_libro"class="navbar-item">
                Libro
              </a>
              <a href="/formulario_autor" class="navbar-item">
                Autor
              </a>
              <a href="/formulario_editorial" class="navbar-item">
                Editorial
              </a>
              <a href="/formulario_genero" class="navbar-item">
                Género
              </a>
            </div>
          </div>
          <a href="/iniciar"class="navbar-item">
            Cerrar Sesión
          </a>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
<form action="/catalogo_libro" class="box">
<table class="table">
    <thead>
        <tr>
            <th title="titulo_libro">Título</th>
            <th title="nombre_autor">Autor</th>
            <th title="nombre_genero">Género</th>
            <th title="nombre_editorial">Editorial</th>
            <th title="numero_paginas">No. Páginas</th>
            <th title="formato">Formato</th>
            <th title="volumen">Volumen</th>
            <th title="fecha_publicacion">Fecha de Publicación</th>
            <th title="opciones">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in consulta_libros %}
        <tr>
            <td>{{libro.titulo_libro}}</td>
            <td>{{libro.nombre_autor}}</td>
            <td>{{libro.nombre_genero}}</td>
            <td>{{libro.nombre_editorial}}</td>
            <td>{{libro.numero_paginas}}</td>
            <td>{{libro.formato}}</td>
            <td>{{libro.volumen}}</td>
            <td>{{libro.fecha_publicacion}}</td>
            <td><a href="/eliminarlibro/{{libro.id_libro}}">Eliminar</a></td>
            <td><a href="/editarlibro/{{libro.id_libro}}">Modificar</a></td>
            <td><a href="/añadirfav/{{libro.id_libro}}">Agregar Fav</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{% endblock %}